<template>
  <div>
    <p>Component A</p>
    <p>{{ username }}</p>
    <hr />
    <component-b />
  </div>
</template>

<script>
import ComponentB from "./ComponentB.vue";
export default {
  name: "ComponentA",
  inject: ["username", "password"],
  components: {
    ComponentB,
  },
};
</script>
