<template>
  <div>
    <p>Component C</p>
    <p>{{ username }}</p>
    <p>{{ password }}</p>
    <hr />
  </div>
</template>

<script>
export default {
  name: "ComponentC",
  inject: ["username", "password"],
};
</script>
