<template>
  <div>
    <p>Component B</p>
    <p>{{ password }}</p>
    <hr />
    <component-c />
  </div>
</template>

<script>
import ComponentC from "./ComponentC.vue";
export default {
  name: "ComponentB",
  inject: ["username", "password"],
  components: {
    ComponentC,
  },
};
</script>
