<template>
  <img src="./assets/logo.png" alt="Vue logo" />
  <h1>Root App Component</h1>
  <!-- <button @click="isMenuOpen = true">Open menu</button>
  <main-menu v-if="isMenuOpen" @close-menu="closeMenu" /> -->
  
  <p>name: {{ name }}</p>
  <text-input v-model="name"/>
</template>

<script>
import TextInput from './components/TextInput.vue';
// import ComponentA from "./components/ComponentA.vue";
// import MainMenu from "./components/MainMenu.vue";

export default {
  name: "App",
  components: {
    // ComponentA,
    // MainMenu,
    TextInput,
  },
  data() {
    return {
      name: '',
    }
  },
  // data: () => {
  //   return {
  //     name: "",
  //     isMenuOpen: false,
  //     username: "mark",
  //     password: "123456789",
  //   };
  // },
  // methods: {
  //   closeMenu(data) {
  //     (this.isMenuOpen = false), (this.name = data);
  //   },
  // },
  // provide() {
  //   return {
  //     username: this.username,
  //     password: this.password,
  //   };
  // },
};
</script>

<style>
* {
  text-align: center;
}
</style>
